<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sednor Chat</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="./manifest.json">
</head>
<body>
<div id="app">
    <noscript>
        Looks like you turned of JavaScript. Please, enable it to access this site.
    </noscript>
</div>
</body>
</html>
